<!DOCTYPE html>
<html>
<head>
  <title>Admin — Zodra Example</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_javascript_tag "admin.tsx" %>
</head>
<body>
  <%= yield %>
</body>
</html>
